body {    
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #4e42d4;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #4e42d4;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #a09eb4;
}

.section-title {
    font-family: 'Open Sans', sans-serif;
}

#sobre_restaurante, #cardapio {
    background-color: #a6a4b4;
}

.text-colored {
    color: #4e42d4;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #4e42d4;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #4e42d4;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}


@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}